<mat-list>
  <h2>Shopping Cart</h2>
  @for (item of cartArray(); track item.movie.id) {
  <mat-list-item>
    <div class="list-item">
      {{ item.movie.title }}
      <div class="quantity-button">
        <button mat-icon-button (click)="removeItemFromCart(item.movie)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ item.quantity }}</span>
        <button mat-icon-button (click)="addItemToCart(item.movie)" [disabled]="item.quantity >= item.movie.availableInStock">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
  }
  @empty {
  <h3>Sem filmes no carrinho</h3>
  }
</mat-list>

@if(cartArray().length > 0){
<div class="cart-footer">
  <span>Total:</span>
  <span> {{ getTotalPrice() | currency: 'R$ ' }}</span>
</div>
}