<mat-toolbar>
  <span>{{'APP_TITLE' | translate}}</span>
  <span class="example-spacer"></span>
  <button matButton routerLink="/movies" aria-label="To show movie list" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">{{'HEADER.LIST_MOVIES' | translate}}
  </button>

  @if (isLoggedIn) {
  <button matButton routerLink="add" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">
    {{'HEADER.ADD_MOVIES' | translate}}
  </button>
  <button matButton routerLinkActive="active-button" (click)="logoutCurrentUser()">
    {{'HEADER.LOGOUT' | translate}}
  </button>
  } @else {
  <button matButton aria-label="Login user" routerLinkActive="active-button" routerLink="/login">
    {{'HEADER.LOGIN' | translate}}
  </button>
  }
  <button mat-icon-button class="cart-button" (click)="drawer.toggle()" [matBadge]="cartItemsCount()" [matBadgeHidden]="cartItemsCount() === 0">
    <div class="cart-icon">
      <mat-icon>shopping_cart</mat-icon>
    </div>

  </button>
  <mat-button-toggle-group name="languages" aria-label="Choose language" [value]="selectedLang" (change)="changeLanguage($event.value)">
    <mat-button-toggle class="flag" value="pt-br"><img src="assets/icons/brasil.svg" alt="pt-br" /></mat-button-toggle>
    <mat-button-toggle class="flag" value="en-us"><img src="assets/icons/estados-unidos.svg" alt="en-us" /></mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>