.example-spacer {
  flex: 1 1 auto;
}

.active-button {
  background-color: gray;
  color: black;
}

.flag img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.cart-button {
  margin: 0 20px 0 10px;
}