<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div>
      <mat-form-field>
        <mat-label>{{ 'FORM.EMAIL' | translate }}</mat-label>
        <input matInput formControlName="email" (input)="updateEmailErrorMessage()" (blur)="updateEmailErrorMessage()" [attr.placeholder]="'FORM.PLACEHOLDER_EMAIL' | translate">

        @if (this.loginForm.controls["email"].invalid) {
        <mat-error>{{emailError}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="password-field">
        <mat-label>{{'FORM.PASSWORD' | translate}}</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [attr.placeholder]="'FORM.PLACEHOLDER_PASSWORD' | translate">

        <button mat-icon-button matSuffix type="button" (click)="toggleHide()" [attr.aria-label]="hide ? 'Mostrar senha' : 'Ocultar senha'">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        @if (this.loginForm.get('password')?.hasError('required')) {
        <mat-error>{{passwordError}}</mat-error>
        }
      </mat-form-field>
    </div>
    <button mat-stroked-button class="send" [disabled]="this.loginForm.invalid">{{'FORM.SUBMIT' | translate}}</button>
  </form>
</div>