:host {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 5rem;
}

p {
  text-align: center;
  opacity: 0.5;
}



.link {
  text-align: center;
  text-decoration: none;
  color: white;
}

.send {
  margin-left: auto;
}

.password-field .mat-icon-button {
  padding: 8px;
  margin-right: 0;
}

.password-field .mat-icon-button:active {
  transform: scale(0.95);
}

mat-form-field {
  width: 100%;
}