.movie-card {
  width: 230px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.movie-card mat-card-title {
  /* Limita o título a 2 linhas para não quebrar o layout */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;

}

.movie-card mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.movie-card img {
  height: 300px;
  object-fit: cover;
}

.movie-card mat-card-title {
  font-size: 1rem;
}

.movie-card mat-card-subtitle {
  font-size: 0.7rem;
}

.movie-card mat-card-content {
  font-size: 0.8rem;
}

.action-button {
  margin-left: 2.8rem;
}